#instro {
  background-color: aqua;
}
#description {
  background-color: lightblue;
  max-width: 400px;
}

#gameBoard {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 50px 50px 50px 50px;
  padding: 15px;
  background-color: burlywood;
  width: 250px;
}

.box {
  background-color: goldenrod;
  text-align: center;
  padding: 20px;
}

.empty {
  background-color: palegoldenrod;
  text-align: center;
  padding: 20px;
  padding-top: 40px;
}

#win {
  background-color: green;
  font-size: large;
  font-weight: bold;
}

#lose {
  background-color: red;
  font-size: large;
  font-weight: bold;
}
