body * {
  transition: 0.1s;
}

#instruction-wrapper {
  max-width: 400px;
  border: 1px gainsboro;
  text-align: center;
  color: navy;
}

#gameBoard {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: 50px 50px 50px 50px;
  padding: 15px;
  background-color: burlywood;
  width: 250px;
}

.box {
  background-color: goldenrod;
  text-align: center;
  width: 50px;
  height: 50px;
}

.empty {
  background-color: palegoldenrod;
  text-align: center;
  width: 50px;
  height: 50px;
}

#win {
  background-color: green;
  font-size: large;
  font-weight: bold;
}

#lose {
  background-color: red;
  font-size: large;
  font-weight: bold;
}
